[Desktop Entry]
Version=1.0
Name=Google Chrome (Wayland)
GenericName=Web Browser
GenericName[ar]=متصفح وب
GenericName[ast]=Restolador Web
GenericName[bn]=ওয়েব ব্রাউজার
GenericName[ca]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[da]=Webbrowser
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής διαδικτύου
GenericName[en_GB]=Web Browser
GenericName[es]=Navegador web
GenericName[et]=Veebibrauser
GenericName[fa]=مرورگر اینترنتی
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[gl]=Navegador Web
GenericName[he]=דפדפן אינטרנט
GenericName[hi]=वेब ब्राउज़र
GenericName[hr]=Web pregljednik
GenericName[hu]=Webböngésző
GenericName[hy]=Ցանցային դիտարկիչ
GenericName[ia]=Navigator del web
GenericName[id]=Peramban Web
GenericName[it]=Browser web
GenericName[ja]=ウェブ・ブラウザ
GenericName[ka]=ვებბრაზერი
GenericName[ko]=웹 브라우저
GenericName[kw]=Peurel an Wias
GenericName[ms]=Pelayar Web
GenericName[nb]=Nettleser
GenericName[nds]=Nettkieker
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[no]=Nettleser
GenericName[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ro]=Navigator Internet
GenericName[ru]=Веб-браузер
GenericName[sk]=Internetový prehliadač
GenericName[sl]=Spletni brskalnik
GenericName[sv]=Webbläsare
GenericName[ta]=இணைய உலாவி
GenericName[th]=เว็บเบราว์เซอร์
GenericName[tr]=Web Tarayıcı
GenericName[ug]=توركۆرگۈ
GenericName[uk]=Веб-переглядач
GenericName[vi]=Trình duyệt Web
GenericName[zh_CN]=网络浏览器
GenericName[zh_TW]=網路瀏覽器
Comment=Access the Internet
Comment[ar]=الدخول على الإنترنت
Comment[ast]=Accesu a Internet
Comment[bn]=ইন্টারনেট অ্যাক্সেস করুন
Comment[ca]=Accedeix a Internet
Comment[cs]=Přístup k internetu
Comment[da]=Få adgang til internettet
Comment[de]=Zugriff auf das Internet
Comment[el]=Πρόσβαση στο Διαδίκτυο
Comment[en_GB]=Access the Internet
Comment[es]=Accede a Internet
Comment[et]=Pääs Internetti
Comment[fa]=دسترسی به اینترنت
Comment[fi]=Käytä internetiä
Comment[fr]=Accéder à Internet
Comment[gl]=Acceder á Internet
Comment[he]=גישה אל האינטרנט
Comment[hi]=इंटरनेट तक पहुंच स्थापित करें
Comment[hr]=Pristup Internetu
Comment[hu]=Internet elérése
Comment[hy]=Մուտք գործել ցանց
Comment[ia]=Acceder a Internet
Comment[id]=Akses Internet
Comment[it]=Accesso a Internet
Comment[ja]=インターネットにアクセス
Comment[ka]=ინტერნეტში შესვლა
Comment[ko]=인터넷 연결
Comment[kw]=Hedhes an Kesrosweyth
Comment[ms]=Mengakses Internet
Comment[nb]=Tilgang til Internett
Comment[nds]=Op dat Internet togriepen
Comment[nl]=Verbinding maken met internet
Comment[nn]=Koble til Internett
Comment[no]=Tilgang til Internett
Comment[pa]=ਇੰਟਰਨੈੱਟ ਵਰਤੋਂ
Comment[pl]=Skorzystaj z internetu
Comment[pt]=Aceder à Internet
Comment[pt_BR]=Acessar a internet
Comment[ro]=Accesați Internetul
Comment[ru]=Доступ в Интернет
Comment[sk]=Prístup do siete Internet
Comment[sl]=Dostop do interneta
Comment[sv]=Gå ut på Internet
Comment[ta]=இணையத்தை அணுகுதல்
Comment[th]=เข้าถึงอินเทอร์เน็ต
Comment[tr]=İnternet'e erişin
Comment[ug]=ئىنتېرنېتنى زىيارەت قىلىش
Comment[uk]=Доступ до Інтернету
Comment[vi]=Truy cập Internet
Comment[zh_CN]=访问互联网
Comment[zh_TW]=連線到網際網路
Exec=/opt/google/chrome/google-chrome --enable-features=UseOzonePlatform --ozone-platform=wayland %U
StartupNotify=true
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/ftp;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Name[ar]=نافذة جديدة
Name[ast]=Ventana nueva
Name[bn]=নতুন উইন্ডো
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[el]=Νέο παράθυρο
Name[en_GB]=New Window
Name[es]=Ventana nueva
Name[et]=Uus aken
Name[fa]=پنجره‌ای تازه
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre
Name[gl]=Nova xanela
Name[he]=חלון חדש
Name[hi]=नई विंडो
Name[hr]=Novi prozor
Name[hu]=Új ablak
Name[hy]=Նոր պատուհան
Name[ia]=Nove fenestra
Name[id]=Jendela Baru
Name[it]=Nuova finestra
Name[ja]=新しいウィンドウ
Name[ka]=ახალი ფანჯარა
Name[ko]=새 창
Name[kw]=Fenester nowydh
Name[ms]=Tetingkap Baru
Name[nb]=Nytt vindu
Name[nl]=Nieuw venster
Name[nn]=Nytt vindauge
Name[no]=Nytt vindu
Name[pa]=ਨਵੀਂ ਵਿੰਡੋ
Name[pl]=Nowe okno
Name[pt]=Nova janela
Name[pt_BR]=Nova janela
Name[ro]=Fereastră nouă
Name[ru]=Новое окно
Name[sk]=Nové okno
Name[sl]=Novo okno
Name[sv]=Nytt fönster
Name[ta]=புதிய சாளரம்
Name[th]=หน้าต่างใหม่
Name[tr]=Yeni Pencere
Name[ug]=يېڭى كۆزنەك
Name[uk]=Нове вікно
Name[vi]=Cửa sổ mới
Name[zh_CN]=新建窗口
Name[zh_TW]=開新視窗
Exec=/opt/google/chrome/google-chrome --enable-features=UseOzonePlatform --ozone-platform=wayland

[Desktop Action new-private-window]
Name=New Incognito Window
Name[ar]=نافذة جديدة للتصفح الخفي
Name[ast]=Ventana nueva en mou incógnitu
Name[bn]=নতুন ছদ্মবেশী উইন্ডো
Name[ca]=Finestra nova d'incògnit
Name[cs]=Nové anonymní okno
Name[da]=Nyt inkognitovindue
Name[de]=Neues Inkognito-Fenster
Name[el]=Νέο παράθυρο ανώνυμης περιήγησης
Name[en_GB]=New Incognito Window
Name[es]=Ventana nueva de incógnito
Name[et]=Uus inkognito aken
Name[fa]=پنجره‌ای تازه حالت ناشناس
Name[fi]=Uusi incognito-ikkuna
Name[fr]=Nouvelle fenêtre de navigation privée
Name[gl]=Nova xanela de incógnito
Name[he]=חלון חדש לגלישה בסתר
Name[hi]=नई गुप्त विंडो
Name[hr]=Novi anoniman prozor
Name[hu]=Új inkognitóablak
Name[hy]=Նոր գաղտնի պատուհան
Name[ia]=Nove fenestra incognite
Name[id]=Jendela Penyamaran Baru
Name[it]=Nuova finestra di navigazione in incognito
Name[ja]=新しいシークレット ウィンドウ
Name[ka]=ახალი ინკოგნიტო ფანჯარა
Name[ko]=새 시크릿 창
Name[kw]=Fenester prevy nowydh
Name[ms]=Tetingkap Inkognito Baru
Name[nb]=Nytt inkognitovindu
Name[nl]=Nieuw incognitovenster
Name[nn]=Nytt inkognitovindauge
Name[no]=Nytt inkognitovindu
Name[pa]=ਨਵੀਂ ਇਨਕਾਗਨਿਟੋ ਵਿੰਡੋ
Name[pl]=Nowe okno incognito
Name[pt]=Nova janela de navegação anónima
Name[pt_BR]=Nova janela anônima
Name[ro]=Fereastră nouă incognito
Name[ru]=Новое окно в режиме инкогнито
Name[sk]=Nové okno inkognito
Name[sl]=Novo okno brez beleženja zgodovine
Name[sv]=Nytt inkognitofönster
Name[ta]=புதிய மறைநிலை சாளரம்
Name[th]=หน้าต่างใหม่แบบไม่เปิดเผยตัวตน
Name[tr]=Yeni Gizli Pencere
Name[ug]=يېڭى مەخپىي كۆزنەك
Name[uk]=Нове вікно в режимі інкогніто
Name[vi]=Cửa sổ ẩn danh mới
Name[zh_CN]=新建隐身窗口
Name[zh_TW]=新增無痕式視窗
Exec=/opt/google/chrome/google-chrome --enable-features=UseOzonePlatform --ozone-platform=wayland --incognito 